# Format Style Options - Created with Clang Power Tools
---
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
IncludeBlocks: Preserve
IncludeCategories: 
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    CaseSensitive: false
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 3
    CaseSensitive: false
  - Regex: '"*.(generated).h"'
    Priority: 0
    SortPriority: 1
    CaseSensitive: false
  - Regex: '.*'
    Priority: 0
    CaseSensitive: false
PointerAlignment: Left
SortIncludes: true
...
